**/.idea/*
**/.metadata/*
**/.project/*
**/.project

minecraft/NuclearCraft/Debug.txt
minecraft/NuclearCraft/DefaultConfig.json
minecraft/NuclearCraft/Newtonsoft.json.dll
**/backups/*.zip
**/backups/*.gz
**/backups/*.tar